      .sidebar {
        width: 250px;
        position: -webkit-sticky;
        top: 0;
        height: 100vh;
        z-index: 1000;
      }

      .sidebar a {
        cursor: pointer;
        transition: all 0.5s;
      }

      .sidebar a:hover {
        background-color: #717880;
      }

      .active-content {
        background-color: var(--bs-primary);
      }

      main {
        background-color: #d0d5da;
      }